@if(companyList.length>0){
<mat-card>
    <mat-card-header>
        <!-- <h2>Invoice Listing</h2> -->
        <button mat-raised-button color="primary" (click)="Addcompany()">Add Company</button>
    </mat-card-header>
    <mat-card-content>
        
        <h2>Company List</h2>
        <table mat-table [dataSource]="dataSource" style="margin-top: 5px;" class="mat-elevation-z8">

            <ng-container matColumnDef="info">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element">
                    <h3>{{element.contactEmail}}</h3>
                    <h3>{{element.contactPhone}}</h3>
                    <p>{{element.address}}</p>
                </td>
            </ng-container>


            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-raised-button color="primary" (click)="updateCompany(element.companyId)">Update
                        Company</button>
                    <br>
                    <button mat-raised-button color="primary" (click)="manageuser(element.companyId)">Manage
                        Stakeholder</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
       

    </mat-card-content>

</mat-card>
}
@else {
    <mat-card style="width: 30%;margin-left: 30%;margin-top: 10%;">
        <mat-card-content>
            <h2>No company records available.  </h2>
            <a mat-flat-button color="primary" (click)="Addcompany()" ><mat-icon>add</mat-icon>Click here to create company.</a>
        </mat-card-content>
    </mat-card>
      
}